.inputContainer {
  padding: 5px;
  margin: 5px 0;
  font-size: 2rem;
}

.input {
  border-radius: 7.5px;
  border: none;
  padding: 1rem;
  border: 2px solid black;
  display: block;
  margin: 5px 0;
  width: 100%;
  transition: all 0.3s;
}

.input:focus {
  outline: none;
  box-shadow: var(--box-shadow);
  border: 2.5px solid var(--info-clr);
}

.errorControl {
  color: var(--danger-clr);
}
