.button {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  padding: 0 1.25rem;
  min-width: max-content;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  color: white;
  background-color: var(--primary-clr);
  box-shadow: var(--box-shadow);
  font-size: 1.5rem;
  line-height: 3.5rem;
  letter-spacing: 1.1px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

/* Hover, Focus */
.button:hover {
  background-color: var(--secondary-clr);
  box-shadow: var(--box-shadow);
}

/* Active */
.button:active {
  scale: 1.02;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Disabled */
.button:disabled {
  color: rgba(var(--onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.button:disabled::before {
  opacity: 0;
}

.button:disabled::after {
  opacity: 0;
}
