.button {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  padding: 0 1.25rem;
  min-width: max-content;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  color: white;
  background-color: var(--clr-blue);
  box-shadow: var(--box-shadow);
  font-size: 1.5rem;
  line-height: 3.5rem;
  letter-spacing: 1.1px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

/* Hover, Focus */
.button:hover {
  background-color: #1e88e5;
  box-shadow: var(--box-shadow);
}

/* Active */
.button:active {
  scale: 1.02;
  box-shadow: var(--box-shadow);
}

/* Disabled */
.button:disabled {
  color: rgba(var(--onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}
